In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('churning.csv')

In [3]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:
import tensorflow as tf
print(tf.__version__)

2.10.0

In [5]:
#divide the data into two features ,one is independent features and other one is the dependent feature.
x=df.iloc[:,3:13]
y=df.iloc[:,-1]

In [6]:
x

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,France,Female,42,2,0.00,1,1,1,101348.88
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58
2,502,France,Female,42,8,159660.80,3,1,0,113931.57
3,699,France,Female,39,1,0.00,2,0,0,93826.63
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10
...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77
9997,709,France,Female,36,7,0.00,1,0,1,42085.58
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78

In [7]:
#in the independent features again there is categorical features.So,performing feature engineering.
geography=pd.get_dummies(df['Geography'],drop_first=True)
gender=pd.get_dummies(df['Gender'],drop_first=True)

In [8]:
#now we concate each other.
x=pd.concat([x,geography,gender],axis=1)

In [9]:
x.drop(['Geography','Gender'],axis=1,inplace=True)

In [10]:
x.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Germany,Spain,Male
0,619,42,2,0.00,1,1,1,101348.88,0,0,0
1,608,41,1,83807.86,1,0,1,112542.58,0,1,0
2,502,42,8,159660.80,3,1,0,113931.57,0,0,0
3,699,39,1,0.00,2,0,0,93826.63,0,0,0
4,850,43,2,125510.82,1,1,1,79084.10,0,1,0

In [11]:
#now split the data into training set and testing set 
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=0)

In [12]:
print(x_train.shape,x_test.shape,y_train.shape,y_test.shape)

(7500, 11) (2500, 11) (7500,) (2500,)

In [13]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()

In [14]:
x_train=sc.fit_transform(x_train)
x_test=sc.transform(x_test)

In [15]:
x_train

array([[-0.73550706,  0.01526571,  0.00886037, ...,  1.76021608,
        -0.57468161, -1.08726059],
       [ 1.02442719, -0.65260917,  0.00886037, ..., -0.56811207,
        -0.57468161, -1.08726059],
       [ 0.80829492, -0.46178778,  1.39329338, ..., -0.56811207,
         1.74009395, -1.08726059],
       ...,
       [ 0.90092304, -0.36637708,  0.00886037, ..., -0.56811207,
        -0.57468161,  0.91974271],
       [-0.62229491, -0.08014499,  1.39329338, ..., -0.56811207,
         1.74009395, -1.08726059],
       [-0.28265848,  0.87396199, -1.37557264, ...,  1.76021608,
        -0.57468161, -1.08726059]])

In [16]:
x_test

array([[-0.55025082, -0.36637708,  1.04718513, ...,  1.76021608,
        -0.57468161, -1.08726059],
       [-1.31185979,  0.11067641, -1.02946438, ..., -0.56811207,
        -0.57468161, -1.08726059],
       [ 0.57157862,  0.3014978 ,  1.04718513, ..., -0.56811207,
         1.74009395, -1.08726059],
       ...,
       [ 1.95070838,  0.01526571, -1.37557264, ..., -0.56811207,
        -0.57468161, -1.08726059],
       [ 0.29369426, -0.08014499,  0.70107688, ...,  1.76021608,
        -0.57468161,  0.91974271],
       [ 0.870047  , -0.74801987, -0.68335613, ..., -0.56811207,
        -0.57468161,  0.91974271]])

In [20]:
# next to create a ANN
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.layers import ReLU,LeakyReLU,PReLU,ELU
from tensorflow.keras.layers import Dropout

In [22]:
#now first intialize the ANN
classifier=Sequential()

In [23]:
#first import the input layer
classifier.add(Dense(units=11,activation='relu'))

In [24]:
# next import the first hidden layer
classifier.add(Dense(units=6,activation='relu'))

In [25]:
# we import the another hidden layer
classifier.add(Dense(units=6,activation='relu'))

In [26]:
# we create a output layer
classifier.add(Dense(units=1,activation='sigmoid'))

In [29]:
#after that we compile a ANN
classifier.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])

In [52]:
model_history=classifier.fit(x_train,y_train,validation_split=0.33,batch_size=10,epochs=30)

Epoch 1/30
503/503 [==============================] - 1s 1ms/step - loss: 0.3135 - accuracy: 0.8682 - val_loss: 0.3504 - val_accuracy: 0.8566
Epoch 2/30
503/503 [==============================] - 1s 1ms/step - loss: 0.3135 - accuracy: 0.8704 - val_loss: 0.3542 - val_accuracy: 0.8526
Epoch 3/30
503/503 [==============================] - 1s 1ms/step - loss: 0.3131 - accuracy: 0.8684 - val_loss: 0.3519 - val_accuracy: 0.8550
Epoch 4/30
503/503 [==============================] - 1s 1ms/step - loss: 0.3134 - accuracy: 0.8670 - val_loss: 0.3516 - val_accuracy: 0.8546
Epoch 5/30
503/503 [==============================] - 1s 1ms/step - loss: 0.3127 - accuracy: 0.8676 - val_loss: 0.3556 - val_accuracy: 0.8582
Epoch 6/30
503/503 [==============================] - 1s 1ms/step - loss: 0.3127 - accuracy: 0.8664 - val_loss: 0.3496 - val_accuracy: 0.8558
Epoch 7/30
503/503 [==============================] - 1s 1ms/step - loss: 0.3121 - accuracy: 0.8702 - val_loss: 0.3518 - val_accuracy: 0.8570
Epoch 8/30
503/503 [==============================] - 1s 1ms/step - loss: 0.3117 - accuracy: 0.8684 - val_loss: 0.3534 - val_accuracy: 0.8526
Epoch 9/30
503/503 [==============================] - 1s 1ms/step - loss: 0.3115 - accuracy: 0.8658 - val_loss: 0.3552 - val_accuracy: 0.8534
Epoch 10/30
503/503 [==============================] - 1s 1ms/step - loss: 0.3113 - accuracy: 0.8694 - val_loss: 0.3530 - val_accuracy: 0.8554
Epoch 11/30
503/503 [==============================] - 1s 1ms/step - loss: 0.3103 - accuracy: 0.8674 - val_loss: 0.3543 - val_accuracy: 0.8534
Epoch 12/30
503/503 [==============================] - 1s 1ms/step - loss: 0.3109 - accuracy: 0.8690 - val_loss: 0.3596 - val_accuracy: 0.8558
Epoch 13/30
503/503 [==============================] - 1s 1ms/step - loss: 0.3104 - accuracy: 0.8688 - val_loss: 0.3535 - val_accuracy: 0.8538
Epoch 14/30
503/503 [==============================] - 1s 1ms/step - loss: 0.3104 - accuracy: 0.8672 - val_loss: 0.3514 - val_accuracy: 0.8582
Epoch 15/30
503/503 [==============================] - 1s 1ms/step - loss: 0.3098 - accuracy: 0.8714 - val_loss: 0.3547 - val_accuracy: 0.8570
Epoch 16/30
503/503 [==============================] - 1s 1ms/step - loss: 0.3098 - accuracy: 0.8710 - val_loss: 0.3549 - val_accuracy: 0.8538
Epoch 17/30
503/503 [==============================] - 1s 1ms/step - loss: 0.3091 - accuracy: 0.8682 - val_loss: 0.3585 - val_accuracy: 0.8526
Epoch 18/30
503/503 [==============================] - 1s 1ms/step - loss: 0.3101 - accuracy: 0.8708 - val_loss: 0.3556 - val_accuracy: 0.8574
Epoch 19/30
503/503 [==============================] - 1s 1ms/step - loss: 0.3084 - accuracy: 0.8702 - val_loss: 0.3537 - val_accuracy: 0.8558
Epoch 20/30
503/503 [==============================] - 1s 1ms/step - loss: 0.3083 - accuracy: 0.8680 - val_loss: 0.3554 - val_accuracy: 0.8534
Epoch 21/30
503/503 [==============================] - 1s 1ms/step - loss: 0.3083 - accuracy: 0.8674 - val_loss: 0.3545 - val_accuracy: 0.8566
Epoch 22/30
503/503 [==============================] - 1s 1ms/step - loss: 0.3074 - accuracy: 0.8688 - val_loss: 0.3606 - val_accuracy: 0.8538
Epoch 23/30
503/503 [==============================] - 1s 1ms/step - loss: 0.3085 - accuracy: 0.8682 - val_loss: 0.3562 - val_accuracy: 0.8570
Epoch 24/30
503/503 [==============================] - 1s 1ms/step - loss: 0.3079 - accuracy: 0.8708 - val_loss: 0.3588 - val_accuracy: 0.8502
Epoch 25/30
503/503 [==============================] - 1s 1ms/step - loss: 0.3077 - accuracy: 0.8700 - val_loss: 0.3563 - val_accuracy: 0.8522
Epoch 26/30
503/503 [==============================] - 1s 1ms/step - loss: 0.3078 - accuracy: 0.8686 - val_loss: 0.3565 - val_accuracy: 0.8514
Epoch 27/30
503/503 [==============================] - 1s 1ms/step - loss: 0.3068 - accuracy: 0.8680 - val_loss: 0.3583 - val_accuracy: 0.8546
Epoch 28/30
503/503 [==============================] - 1s 1ms/step - loss: 0.3067 - accuracy: 0.8720 - val_loss: 0.3601 - val_accuracy: 0.8542
Epoch 29/30
503/503 [==============================] - 1s 1ms/step - loss: 0.3072 - accuracy: 0.8698 - val_loss: 0.3605 - val_accuracy: 0.8530
Epoch 30/30
503/503 [==============================] - 1s 1ms/step - loss: 0.3062 - accuracy: 0.8700 - val_loss: 0.3595 - val_accuracy: 0.8558

In [53]:
x_train.shape

(7500, 11)

In [54]:
#make the predections also.
y_pred=classifier.predict(x_test)
y_pred=(y_test>=0.5)

79/79 [==============================] - 0s 523us/step

In [55]:
#make the confusion matrix
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test,y_pred)

array([[2116,    0],
       [   0,  384]], dtype=int64)

In [56]:
#make classification report on this.
from sklearn.metrics import classification_report
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

       False       1.00      1.00      1.00      2116
        True       1.00      1.00      1.00       384

    accuracy                           1.00      2500
   macro avg       1.00      1.00      1.00      2500
weighted avg       1.00      1.00      1.00      2500

In [58]:
#get weights
classifier.get_weights()

[array([[-0.06040627,  0.06037453,  0.16024719,  0.11090348,  0.2614032 ,
         -0.06135819,  0.05054236,  0.07547148,  0.10372623,  0.08262281,
          0.04964312],
        [-0.22772242, -0.9096578 ,  0.3096231 , -0.07810889, -0.18536052,
          0.22582376,  0.78840494, -0.24201448, -0.45873055, -1.2194178 ,
          0.08190832],
        [ 0.03018771,  0.08337368,  0.08278858,  0.62834466,  0.7821393 ,
         -0.11514267,  0.2590384 ,  0.2357948 , -0.04314716,  0.34386846,
          0.30060464],
        [-1.2992831 ,  0.03994787,  0.35725558, -0.27365115, -0.6821358 ,
          0.4715544 , -0.49423712, -0.60932595, -1.056292  ,  0.22769573,
          0.19054383],
        [ 0.0525628 , -0.02296066, -0.33176813,  0.05750361,  0.6131699 ,
         -0.35741824, -0.09605616, -1.0499876 ,  0.27072984,  0.12506601,
          1.1947291 ],
        [ 0.24373661,  0.04237556,  0.62426794, -0.31357938, -0.28518826,
          0.20312534, -0.01210181, -0.23054416,  0.08353184, -0.4308249 ,
          0.01995633],
        [-0.0983235 , -0.41433772,  0.3158597 ,  0.3034155 ,  0.1616855 ,
         -0.79020464,  0.9320638 ,  0.0678676 ,  0.15831496,  0.08505304,
          0.06689657],
        [-0.18306826, -0.03316301, -0.02450474, -0.52444816, -0.23742037,
         -0.02123401,  0.16956572,  0.12743668,  0.00369573,  0.03233275,
         -0.09169769],
        [-0.16129322, -0.18882333,  0.36514443, -0.20282298,  0.6788785 ,
         -0.14026022, -0.2055751 ,  0.36614004,  0.5398131 ,  0.21608925,
         -0.19406189],
        [ 0.3823557 , -0.05292675,  0.23945808,  0.05150624,  0.18900841,
          0.06447163,  0.10136431, -0.0662101 ,  0.08765444,  0.19526395,
          0.30611345],
        [ 0.05734669,  0.00206252,  0.04622032,  0.2577896 , -0.08095009,
         -0.06658445,  0.62935466,  0.07980316,  0.06508194, -0.0285325 ,
          0.17813323]], dtype=float32),
 array([-0.34032163,  1.1051939 ,  0.13377921,  0.04477831,  0.32593587,
         0.00445566,  0.06164119,  0.08833021, -0.17471698,  0.1907353 ,
        -0.07004377], dtype=float32),
 array([[-0.448663  ,  0.81962085,  0.09440327,  0.39392766, -0.46979523,
         -0.02869824],
        [ 0.2484789 ,  0.13663049, -0.7467827 , -0.52266324, -1.093251  ,
          0.65419686],
        [-0.61129445,  0.2552661 , -0.08041181, -0.27264518, -0.5613605 ,
          0.02710455],
        [-0.28716895,  0.01284009,  0.40909505, -0.13581489,  0.0669371 ,
          0.6521339 ],
        [-0.32411733, -0.21433474, -0.5716485 ,  0.5865009 , -0.03472821,
         -0.5564644 ],
        [-0.629033  ,  0.28622392,  0.11075891,  0.7008689 ,  0.54949594,
         -0.34307244],
        [-0.33798775, -0.04861581,  0.09712462,  0.09469174, -0.02824229,
          0.73144835],
        [-3.282553  ,  0.22144666,  0.82042336,  0.47777128,  0.31887072,
         -0.16564775],
        [ 0.29730713, -0.15112692, -0.6043876 , -1.6188506 ,  0.11208719,
          0.7129135 ],
        [ 0.1290899 ,  0.5589906 , -0.5858353 ,  0.06271312, -0.6947681 ,
          0.4576343 ],
        [ 0.77185637, -1.9012693 , -0.13518944, -0.8228206 ,  0.9217411 ,
         -0.04838756]], dtype=float32),
 array([-0.2596553 , -0.13081032,  0.54339516,  0.20945756,  0.02889882,
         0.3770326 ], dtype=float32),
 array([[ 0.6546401 ,  0.871944  ,  1.1675197 , -0.21575028, -0.5992838 ,
         -1.1016289 ],
        [ 0.5614947 ,  0.38389906,  0.29829746, -0.82980597,  0.33556885,
          0.76575357],
        [-0.16970532,  0.77220565, -0.18198445, -0.89587504, -0.08447398,
         -0.8081576 ],
        [-1.34578   ,  0.201205  ,  0.69785947,  0.40554276, -1.0582292 ,
          0.17665519],
        [-0.6485347 ,  1.1091377 ,  1.2142195 , -0.22439548,  0.45513046,
          0.11114451],
        [ 0.17016216,  0.05284341, -0.40722412,  0.5660489 ,  0.30163893,
          1.0338746 ]], dtype=float32),
 array([-0.6972023 , -0.29084897,  0.02404455,  0.43250868,  0.11253954,
         0.25999665], dtype=float32),
 array([[ 1.3503275 ],
        [ 0.79790443],
        [ 1.2892295 ],
        [-1.4879231 ],
        [-0.34926075],
        [-0.4974233 ]], dtype=float32),
 array([-0.18805945], dtype=float32)]